In [2]:
import pandas as pd
import numpy as np

In [97]:
weather = pd.read_csv('C:/Temp/Weather_2018.csv', encoding='euc-kr', parse_dates=['일시'])

In [98]:
weather.drop(['지점', '최저기온 시각(hhmi)', '최고기온 시각(hhmi)', '최대 순간풍속 시각(hhmi)','최대 순간 풍속 풍향(deg)'], axis='columns', inplace=True)
weather['일교차(°C)'] = weather["최고기온(°C)"] - weather["최저기온(°C)"]
weather.drop(['최저기온(°C)','최고기온(°C)'], axis='columns', inplace=True)
weather.drop(['Unnamed: 0'], axis='columns', inplace=True)

In [164]:
weather.loc[weather.지점명=='기상청', '지점명'] = '동작'
weather.loc[weather.지점명=='북한산', '지점명'] = '강북'
weather.loc[weather.지점명=='북악산', '지점명'] = '종로'
weather.loc[weather.지점명=='기상청', '지점명'] = '동작'
weather.loc[weather.지점명=='현충원', '지점명'] = '동작'
weather.loc[weather.지점명=='서초 *', '지점명'] = '서초'
weather.loc[weather.지점명=='영등포 *', '지점명'] = '영등포'
weather.loc[weather.지점명=='용산 *', '지점명'] = '용산'
weather.loc[weather.지점명=='양천 *', '지점명'] = '양천'
weather.loc[weather.지점명=='송파 *', '지점명'] = '송파'

In [165]:
set(weather["지점명"])

{'강남',
 '강동',
 '강북',
 '강서',
 '관악',
 '광진',
 '구로',
 '금천',
 '남현',
 '노원',
 '도봉',
 '동대문',
 '동작',
 '마포',
 '서대문',
 '서초',
 '성동',
 '성북',
 '송파',
 '양천',
 '영등포',
 '용산',
 '은평',
 '종로',
 '중구',
 '중랑',
 '한강'}

In [166]:
np.sum(pd.isnull(weather))

일시                 0
평균기온(°C)         171
일강수량(mm)           9
최대 순간 풍속(m/s)    858
평균 풍속(m/s)       166
지점명                0
위도                 0
경도                 0
일교차(°C)          140
dtype: int64

In [167]:
weather.describe()

,평균기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),위도,경도,일교차(°C)
count,22420.000000,22582.000000,21733.000000,22425.000000,22591.000000,22591.000000,22451.000000
mean,12.979920,3.416947,6.807716,1.611554,37.544019,126.984535,9.169320
std,11.305626,12.709920,2.332414,0.740306,0.055741,0.078413,3.061448
min,-19.700000,0.000000,2.100000,0.100000,37.450000,126.827000,1.700000
25%,4.400000,0.000000,5.200000,1.100000,37.498200,126.933900,7.000000
50%,13.900000,0.000000,6.400000,1.500000,37.537900,126.977500,9.000000
75%,22.300000,0.000000,7.900000,2.000000,37.584600,127.046700,11.100000
max,34.400000,249.500000,23.200000,6.700000,37.663300,127.148400,22.600000

In [168]:

set(weather["지점명"])

{'강남',
 '강동',
 '강북',
 '강서',
 '관악',
 '광진',
 '구로',
 '금천',
 '남현',
 '노원',
 '도봉',
 '동대문',
 '동작',
 '마포',
 '서대문',
 '서초',
 '성동',
 '성북',
 '송파',
 '양천',
 '영등포',
 '용산',
 '은평',
 '종로',
 '중구',
 '중랑',
 '한강'}

In [169]:
grouped_w = weather.groupby(weather['지점명']).mean()
grouped_w_d = weather.groupby([weather['지점명'], weather['일시']]).mean()

In [170]:
grouped_w_d

                평균기온(°C)  일강수량(mm)  최대 순간 풍속(m/s)  평균 풍속(m/s)       위도  \
지점명 일시
강남  2018-01-01       0.3       0.0            6.4         1.4  37.5070
    2018-01-02      -0.9       0.0            7.3         1.7  37.5070
    2018-01-03      -3.7       0.0            6.3         2.0  37.5070
    2018-01-04      -3.7       0.0            4.2         1.1  37.5070
    2018-01-05      -1.5       0.0            6.3         1.5  37.5070
    2018-01-06      -1.3       0.0            5.0         1.6  37.5070
    2018-01-07      -0.4       0.0            4.6         1.1  37.5070
    2018-01-08       1.8       0.5           10.5         1.8  37.5070
    2018-01-09      -3.3       0.0            9.5         2.4  37.5070
    2018-01-10      -6.5       0.0            9.0         2.3  37.5070
    2018-01-11     -10.3       0.0            7.6         2.4  37.5070
    2018-01-12      -9.4       0.0            6.1         1.6  37.5070
    2018-01-13      -4.3       0.0            3.9         1.3  37.5070
    2018-01-14       0.8       0.0            5.4         1.4  37.5070
    2018-01-15       5.4       0.0            5.8         1.3  37.5070
    2018-01-16       3.9       0.0            3.3         0.9  37.5070
    2018-01-17       5.1       0.0            5.5         1.1  37.5070
    2018-01-18       3.2       0.0            5.3         1.6  37.5070
    2018-01-19       2.3       0.0            5.7         1.3  37.5070
    2018-01-20       3.2       0.0            6.0         1.4  37.5070
    2018-01-21       1.9       0.0            4.3         1.0  37.5070
    2018-01-22       0.6       4.5            8.1         1.6  37.5070
    2018-01-23     -11.0       0.0           10.2         2.9  37.5070
    2018-01-24     -13.5       0.0            9.1         2.3  37.5070
    2018-01-25     -13.3       0.0            7.7         2.1  37.5070
    2018-01-26     -13.8       0.0            7.8         2.2  37.5070
    2018-01-27      -9.0       0.0            4.2         1.4  37.5070
    2018-01-28      -5.1       0.0            8.4         2.1  37.5070
    2018-01-29      -7.5       0.0           10.3         2.1  37.5070
    2018-01-30      -4.5       0.0            6.7         1.3  37.5070
...                  ...       ...            ...         ...      ...
한강  2018-12-02       9.0       0.0            5.6         2.5  37.5231
    2018-12-03      11.4       8.0            7.4         2.2  37.5231
    2018-12-04       7.0       6.0           10.7         3.4  37.5231
    2018-12-05       1.3       0.0            7.5         2.4  37.5231
    2018-12-06       2.8       0.0           12.4         2.7  37.5231
    2018-12-07      -6.4       0.0           11.5         5.2  37.5231
    2018-12-08      -7.4       0.0            9.5         3.9  37.5231
    2018-12-09      -6.0       0.0            7.1         2.3  37.5231
    2018-12-10      -1.3       0.0            4.6         1.5  37.5231
    2018-12-11       1.5       0.0            6.4         1.9  37.5231
    2018-12-12      -1.0       0.0            6.3         2.7  37.5231
    2018-12-13      -1.1       0.5           10.1         2.9  37.5231
    2018-12-14      -3.1       0.0            5.8         2.3  37.5231
    2018-12-15      -1.0       0.0            4.5         1.3  37.5231
    2018-12-16       1.4       0.0            4.5         1.6  37.5231
    2018-12-17       2.5       0.0            6.7         2.0  37.5231
    2018-12-18       4.2       0.0            9.2         1.4  37.5231
    2018-12-19       4.7       0.0            6.4         1.2  37.5231
    2018-12-20       4.6       0.0            4.6         1.1  37.5231
    2018-12-21       6.6       0.0            5.5         1.7  37.5231
    2018-12-22       6.4       0.0            5.1         1.8  37.5231
    2018-12-23       3.1       0.0            9.8         3.2  37.5231
    2018-12-24      -1.0       0.0            6.3         2.3  37.5231
    2018-12-25       1.8       0.0            4.6         1.6  37.5231
    2018-12-26      -1.2       0.0            9.7         3.6  37.5231
    2018-12-27      -9.2       0.0            9.4         4.6  37.5231
    2018-12-28      -9.5       0.0            8.9         3.4  37.5231
    2018-12-29      -6.5       0.0           10.9         3.9  37.5231
    2018-12-30      -6.0       0.0            5.3         1.9  37.5231
    2018-12-31      -3.8       0.0            5.6         1.6  37.5231

                        경도  일교차(°C)
지점명 일시
강남  2018-01-01  127.058933      5.8
    2018-01-02  127.058933      5.6
    2018-01-03  127.058933      4.9
    2018-01-04  127.058933      5.4
    2018-01-05  127.058933      5.2
    2018-01-06  127.058933      6.2
    2018-01-07  127.058933      7.2
    2018-01-08  127.058933      4.7
    2018-01-09  127.058933      4.3
    2018-01-10  127.058933      5.4
    2018-01-11  127.058933      4.9
    2018-01-12  127.058933      7.8
    2018-01-13  127.058933      4.9
    2018-01-14  127.058933     10.0
    2018-01-15  127.058933      3.7
    2018-01-16  127.058933      5.2
    2018-01-17  127.058933      5.1
    2018-01-18  127.058933      4.0
    2018-01-19  127.058933      5.7
    2018-01-20  127.058933      6.6
    2018-01-21  127.058933      7.6
    2018-01-22  127.058933      9.1
    2018-01-23  127.058933      9.6
    2018-01-24  127.058933      5.2
    2018-01-25  127.058933      6.2
    2018-01-26  127.058933      6.7
    2018-01-27  127.058933     10.9
    2018-01-28  127.058933      6.8
    2018-01-29  127.058933      4.7
    2018-01-30  127.058933      8.7
...                    ...      ...
한강  2018-12-02  126.939250      7.3
    2018-12-03  126.939250      4.5
    2018-12-04  126.939250     10.1
    2018-12-05  126.939250      6.0
    2018-12-06  126.939250      6.1
    2018-12-07  126.939250      8.0
    2018-12-08  126.939250      5.6
    2018-12-09  126.939250      7.7
    2018-12-10  126.939250      8.9
    2018-12-11  126.939250      4.2
    2018-12-12  126.939250      4.7
    2018-12-13  126.939250      6.0
    2018-12-14  126.939250      5.1
    2018-12-15  126.939250      8.2
    2018-12-16  126.939250      4.2
    2018-12-17  126.939250      6.4
    2018-12-18  126.939250      9.4
    2018-12-19  126.939250      6.9
    2018-12-20  126.939250      9.0
    2018-12-21  126.939250      7.9
    2018-12-22  126.939250      7.5
    2018-12-23  126.939250      9.0
    2018-12-24  126.939250      6.0
    2018-12-25  126.939250      5.9
    2018-12-26  126.939250     10.4
    2018-12-27  126.939250      5.3
    2018-12-28  126.939250      6.6
    2018-12-29  126.939250      5.5
    2018-12-30  126.939250      7.1
    2018-12-31  126.939250      7.4

[9821 rows x 7 columns]

In [171]:
munji = pd.read_excel('C:/Temp/미세초미세_2018.xlsx', parse_dates=['측정일시'])
munji.rename(columns={'측정소명': '지점명', '측정일시': '일시'}, inplace=True)

In [197]:
munji.loc[munji.지점명=='강남구', '지점명'] = '강남'
munji.loc[munji.지점명== '강남대로', '지점명'] = '강남'
munji.loc[munji.지점명== '강동구', '지점명'] = '강동'
munji.loc[munji.지점명== '강변북로', '지점명'] = '광진'
munji.loc[munji.지점명== '강북구', '지점명'] = '강북'
munji.loc[munji.지점명== '강서구', '지점명'] = '강서'
munji.loc[munji.지점명== '공항대로', '지점명'] = '강서'
munji.loc[munji.지점명== '관악구', '지점명'] = '관악'
munji.loc[munji.지점명== '관악산', '지점명'] = '관악'
munji.loc[munji.지점명== '광진구', '지점명'] = '광진'
munji.loc[munji.지점명== '구로구', '지점명'] = '구로'
munji.loc[munji.지점명== '궁동', '지점명'] = '구로'
munji.loc[munji.지점명== '금천구', '지점명'] = '금천'
munji.loc[munji.지점명== '남산', '지점명'] = '중구'
munji.loc[munji.지점명== '노원구', '지점명'] = '노원'
munji.loc[munji.지점명== '도봉구', '지점명'] = '도봉'
munji.loc[munji.지점명== '도산대로', '지점명'] = '강남'
munji.loc[munji.지점명== '동대문구', '지점명'] = '동대문'
munji.loc[munji.지점명== '동작구', '지점명'] = '동작'
munji.loc[munji.지점명== '동작대로', '지점명'] = '동작'
munji.loc[munji.지점명== '마포구', '지점명'] = '마포'
munji.loc[munji.지점명== '북한산', '지점명'] = '강북'
munji.loc[munji.지점명== '서대문구', '지점명'] = '서대문'
munji.loc[munji.지점명== '서초구', '지점명'] = '서초'
munji.loc[munji.지점명== '성동구', '지점명'] = '성동'
munji.loc[munji.지점명== '성북구', '지점명'] = '성북'
munji.loc[munji.지점명== '세곡', '지점명'] = '강남'
munji.loc[munji.지점명== '송파구', '지점명'] = '송파'
munji.loc[munji.지점명== '시흥대로', '지점명'] = '금천'
munji.loc[munji.지점명== '신촌로', '지점명'] = '서대문'
munji.loc[munji.지점명== '양천구', '지점명'] = '양천'
munji.loc[munji.지점명== '영등포구', '지점명'] = '영등포'
munji.loc[munji.지점명== '영등포로', '지점명'] = '영등포'
munji.loc[munji.지점명== '용산구', '지점명'] = '용산'
munji.loc[munji.지점명== '은평구', '지점명'] = '은평'
munji.loc[munji.지점명== '정릉로', '지점명'] = '성북'
munji.loc[munji.지점명== '종로', '지점명'] = '종로'
munji.loc[munji.지점명== '종로구', '지점명'] = '종로'
munji.loc[munji.지점명== '중구', '지점명'] = '중구'
munji.loc[munji.지점명== '중랑구', '지점명'] = '중랑'
munji.loc[munji.지점명== '천호대로', '지점명'] = '강동'
munji.loc[munji.지점명== '청계천로', '지점명'] = '종로'
munji.loc[munji.지점명== '한강대로', '지점명'] = '용산'
munji.loc[munji.지점명== '행주', '지점명'] = '강서'
munji.loc[munji.지점명== '홍릉로', '지점명'] = '동대문'
munji.loc[munji.지점명== '화랑로', '지점명'] = '성북'

In [198]:
np.sum(pd.isnull(munji))

일시              0
지점명             0
미세먼지(㎍/㎥)     344
초미세먼지(㎍/㎥)    338
dtype: int64

In [201]:
munji.describe()

          미세먼지(㎍/㎥)    초미세먼지(㎍/㎥)
count  12103.000000  12109.000000
mean      40.530034     22.783467
std       23.015344     15.105680
min        3.000000      1.000000
25%       24.000000     12.000000
50%       36.000000     20.000000
75%       52.000000     30.000000
max      199.000000    127.000000

In [202]:
set(munji["지점명"])

{'강남',
 '강동',
 '강북',
 '강서',
 '관악',
 '광진',
 '구로',
 '금천',
 '노원',
 '도봉',
 '동대문',
 '동작',
 '마포',
 '서대문',
 '서초',
 '성동',
 '성북',
 '송파',
 '양천',
 '연등포',
 '영등포',
 '용산',
 '은평',
 '종로',
 '중구',
 '중랑'}

munji['일시'] = pd.to_datestamp(munji['일시'], unit='s')

from datetime import datetime
datetime.strptime(hii,'%y-%m-%d')

In [203]:
grouped_m = munji.groupby([munji['지점명']]).mean()
grouped_m_d = munji.groupby([munji['지점명'], munji['일시']]).mean()

In [204]:
grouped_m_d

                 미세먼지(㎍/㎥)  초미세먼지(㎍/㎥)
지점명 일시
강남  2018-01-01   43.000000   19.666667
    2018-01-02   48.333333   21.333333
    2018-01-03   39.666667   18.000000
    2018-01-04   48.000000   23.000000
    2018-01-05   58.000000   31.000000
    2018-01-06   50.333333   27.666667
    2018-01-07   60.000000   36.333333
    2018-01-08   59.333333   34.333333
    2018-01-09   44.333333   17.666667
    2018-01-10   36.333333   12.666667
    2018-01-11   36.666667   21.000000
    2018-01-12   29.333333   14.666667
    2018-01-13   53.333333   36.000000
    2018-01-14   70.000000   46.333333
    2018-01-15   71.333333   41.666667
    2018-01-16  115.333333   69.333333
    2018-01-17  115.000000   74.333333
    2018-01-18   90.666667   51.333333
    2018-01-19   64.000000   27.000000
    2018-01-20  104.333333   53.666667
    2018-01-21   73.333333   33.666667
    2018-01-22   55.666667   24.333333
    2018-01-23   29.000000   11.333333
    2018-01-24   34.333333   10.666667
    2018-01-25   27.000000   12.333333
    2018-01-26   34.666667   19.333333
    2018-01-27   49.000000   27.333333
    2018-01-28   33.666667   18.666667
    2018-01-29   48.666667   16.333333
    2018-01-30   44.000000   20.666667
...                    ...         ...
중랑  2018-12-02   40.000000   20.000000
    2018-12-03   36.000000   18.000000
    2018-12-04   28.000000   14.000000
    2018-12-05   25.000000   11.000000
    2018-12-06   32.000000   16.000000
    2018-12-07   16.000000    7.000000
    2018-12-08   19.000000    8.000000
    2018-12-09   20.000000   10.000000
    2018-12-10   28.000000   15.000000
    2018-12-11   30.000000   17.000000
    2018-12-12   40.000000   21.000000
    2018-12-13   35.000000   22.000000
    2018-12-14   30.000000   16.000000
    2018-12-15   48.000000   31.000000
    2018-12-16   49.000000   34.000000
    2018-12-17   68.000000   47.000000
    2018-12-18   38.000000   26.000000
    2018-12-19   46.000000   33.000000
    2018-12-20   49.000000   35.000000
    2018-12-21   61.000000   45.000000
    2018-12-22   80.000000   64.000000
    2018-12-23   48.000000   33.000000
    2018-12-24   19.000000   13.000000
    2018-12-25   29.000000   21.000000
    2018-12-26   40.000000   25.000000
    2018-12-27   22.000000    9.000000
    2018-12-28   28.000000   14.000000
    2018-12-29   29.000000    9.000000
    2018-12-30   27.000000   16.000000
    2018-12-31   44.000000   31.000000

[8034 rows x 2 columns]

In [205]:
#munji.sort_values(by=['측정소명','측정일시'], axis=0)
#weather.sort_values(by=['지점명','일시'], axis=0)
#set(weather['지점명'])
#set(munji['측정소명'].sort_values())

In [206]:
data_Weather=pd.merge(grouped_w_d,grouped_m_d, on=["지점명","일시"])
data_Weather.reset_index(inplace=True)

In [207]:
data1 = pd.read_csv('C:/Temp/0104.csv',encoding = 'cp949',parse_dates=['일자'])
data2 = pd.read_csv('C:/Temp/0508.csv',encoding = 'cp949',parse_dates=['일자'])
data3 = pd.read_csv('C:/Temp/0912.csv',encoding = 'cp949',parse_dates=['일자'])

In [208]:
data = pd.concat([data1,data2,data3]) 
data.shape

(548057, 9)

In [209]:
data_Weather.head()

,지점명,일시,평균기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),위도,경도,일교차(°C),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,강남,2018-01-01,0.3,0.0,6.4,1.4,37.507,127.058933,5.8,43.000000,19.666667
1,강남,2018-01-02,-0.9,0.0,7.3,1.7,37.507,127.058933,5.6,48.333333,21.333333
2,강남,2018-01-03,-3.7,0.0,6.3,2.0,37.507,127.058933,4.9,39.666667,18.000000
3,강남,2018-01-04,-3.7,0.0,4.2,1.1,37.507,127.058933,5.4,48.000000,23.000000
4,강남,2018-01-05,-1.5,0.0,6.3,1.5,37.507,127.058933,5.2,58.000000,31.000000

In [210]:
data_Weather.shape

(7692, 11)

In [211]:
data.head()

   Unnamed: 0         일자 요일 성별   연령 발신지_시도 발신지_구 발신지_읍면동  통화건수
0          72 2018-01-01  월  남  10대  서울특별시   강남구     도곡동     5
1          73 2018-01-01  월  남  10대  서울특별시   강남구     역삼동     5
2          74 2018-01-01  월  남  20대  서울특별시   강남구     일원동     5
3          75 2018-01-01  월  남  30대  서울특별시   강남구     수서동     5
4          76 2018-01-01  월  남  30대  서울특별시   강남구     개포동     5

In [212]:
data.drop(['Unnamed: 0','발신지_시도'],axis='columns',inplace=True)

In [213]:
data.rename(columns={'일자':'일시','발신지_구':'지점명'},inplace=True)

In [214]:
data_Weather.reset_index(inplace=True)

In [215]:
var2= "구"

In [216]:
data_Weather["지점명"]=[s+var2 for s in data_Weather["지점명"]]

In [217]:
data_Weather.head()

,index,지점명,일시,평균기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),위도,경도,일교차(°C),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,0,강남구,2018-01-01,0.3,0.0,6.4,1.4,37.507,127.058933,5.8,43.000000,19.666667
1,1,강남구,2018-01-02,-0.9,0.0,7.3,1.7,37.507,127.058933,5.6,48.333333,21.333333
2,2,강남구,2018-01-03,-3.7,0.0,6.3,2.0,37.507,127.058933,4.9,39.666667,18.000000
3,3,강남구,2018-01-04,-3.7,0.0,4.2,1.1,37.507,127.058933,5.4,48.000000,23.000000
4,4,강남구,2018-01-05,-1.5,0.0,6.3,1.5,37.507,127.058933,5.2,58.000000,31.000000

In [218]:
data_Weather.loc[data_Weather.지점명=='중구구', '지점명'] = '중구'

In [233]:
Data = pd.merge(data,data_Weather,on=['지점명','일시'],how="left")

In [234]:
Data

,일시,요일,성별,연령,지점명,발신지_읍면동,통화건수,index,평균기온(°C),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),위도,경도,일교차(°C),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,2018-01-01,월,남,10대,강남구,도곡동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
1,2018-01-01,월,남,10대,강남구,역삼동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
2,2018-01-01,월,남,20대,강남구,일원동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
3,2018-01-01,월,남,30대,강남구,수서동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
4,2018-01-01,월,남,30대,강남구,개포동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
5,2018-01-01,월,남,30대,강남구,역삼동,22,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
6,2018-01-01,월,남,40대,강남구,개포동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
7,2018-01-01,월,남,30대,강남구,대치동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
8,2018-01-01,월,남,40대,강남구,논현동,9,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
9,2018-01-01,월,남,40대,강남구,삼성동,36,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
10,2018-01-01,월,남,20대,강남구,논현동,9,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
11,2018-01-01,월,남,30대,강남구,세곡동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
12,2018-01-01,월,남,50대,강남구,논현동,15,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
13,2018-01-01,월,남,50대,강남구,삼성동,17,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
14,2018-01-01,월,남,60대이상,강남구,도곡동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
15,2018-01-01,월,남,60대이상,강남구,수서동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
16,2018-01-01,월,남,60대이상,강남구,역삼동,8,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
17,2018-01-01,월,남,20대,강남구,역삼동,11,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
18,2018-01-01,월,여,10대,강남구,삼성동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
19,2018-01-01,월,여,10대,강남구,역삼동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
20,2018-01-01,월,여,20대,강남구,삼성동,14,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
21,2018-01-01,월,남,60대이상,강남구,삼성동,6,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
22,2018-01-01,월,여,20대,강남구,세곡동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
23,2018-01-01,월,남,40대,강남구,도곡동,7,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
24,2018-01-01,월,여,20대,강남구,신사동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
25,2018-01-01,월,여,20대,강남구,압구정동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
26,2018-01-01,월,여,20대,강남구,역삼동,24,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
27,2018-01-01,월,여,20대,강남구,일원동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
28,2018-01-01,월,여,20대,강남구,청담동,5,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
29,2018-01-01,월,여,30대,강남구,논현동,13,0.0,0.3,0.0,6.4,1.4,37.50700,127.058933,5.8,43.0,19.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548027,2018-12-31,월,남,60대이상,중구,을지로4가,5,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548028,2018-12-31,월,여,60대이상,중구,태평로2가,5,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548029,2018-12-31,월,남,10대,중구,을지로2가,5,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548030,2018-12-31,월,남,50대,중구,을지로6가,5,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548031,2018-12-31,월,남,20대,중구,을지로2가,10,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548032,2018-12-31,월,여,50대,중구,남대문로5가,23,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548033,2018-12-31,월,남,50대,중구,남대문로5가,19,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548034,2018-12-31,월,남,50대,중구,신당동,21,7382.0,-5.8,0.0,6.6,1.9,37.55295,126.986900,8.0,45.5,26.500000
548035,2018-12-31,월,남,10대,중랑구,면목동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548036,2018-12-31,월,남,20대,중랑구,신내동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548037,2018-12-31,월,남,30대,중랑구,면목동,8,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548038,2018-12-31,월,남,40대,중랑구,면목동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548039,2018-12-31,월,남,50대,중랑구,신내동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548040,2018-12-31,월,남,60대이상,중랑구,망우동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548041,2018-12-31,월,남,60대이상,중랑구,면목동,19,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548042,2018-12-31,월,남,60대이상,중랑구,묵동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548043,2018-12-31,월,남,60대이상,중랑구,신내동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548044,2018-12-31,월,여,10대,중랑구,면목동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548045,2018-12-31,월,여,20대,중랑구,면목동,23,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548046,2018-12-31,월,여,20대,중랑구,묵동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548047,2018-12-31,월,남,50대,중랑구,면목동,11,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548048,2018-12-31,월,여,20대,중랑구,신내동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548049,2018-12-31,월,여,30대,중랑구,면목동,50,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548050,2018-12-31,월,여,30대,중랑구,묵동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548051,2018-12-31,월,여,40대,중랑구,망우동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548052,2018-12-31,월,남,40대,중랑구,묵동,5,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548053,2018-12-31,월,남,20대,중랑구,면목동,7,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548054,2018-12-31,월,여,40대,중랑구,면목동,27,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548055,2018-12-31,월,여,50대,중랑구,면목동,23,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000
548056,2018-12-31,월,여,60대이상,중랑구,면목동,16,7691.0,-4.8,0.0,5.9,1.5,37.58450,127.087850,9.7,44.0,31.000000

In [236]:
np.sum(pd.isnull(Data))

일시                    0
요일                    0
성별                    0
연령                    0
지점명                   0
발신지_읍면동               0
통화건수                  0
index             90109
평균기온(°C)          93560
일강수량(mm)          90224
최대 순간 풍속(m/s)    113826
평균 풍속(m/s)        93480
위도                90109
경도                90109
일교차(°C)           93055
미세먼지(㎍/㎥)         93394
초미세먼지(㎍/㎥)        93496
dtype: int64